<h1>Companies</h1>

<table class="table">
    <thead>
        <tr class="table-row">
            <th>Id</th>
            <th>Name</th>
            <th>Country</th>
            <th>TVA</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @for (company of listCompanies; track company){
            <tr>
                <td>{{ company.id }}</td>
                <td><a [routerLink]="['/company', company.id]"> {{ company.name }}</a></td>
                <td>{{ company.country }}</td>
                <td>{{ company.tva }}</td>
                <td>{{ company.type }}</td>
                <td>
                    <button><a [routerLink]="['/company', company.id]">Details</a></button>
                    <button><a (click)="deleteOnClick(company.id)">Delete</a></button>
                </td>
            </tr>
        }@empty {
            <tr>
                <td colspan="4">No companies found</td>
            </tr>
        }
    </tbody>
</table>

<a style="position: fixed; right: 50px; font-weight:bolder ; color:white; font-size : 32px; text-decoration: none; background-color: blue;" routerLink="/company/add"> + </a>



