
<h1>Company {{company?.name}}</h1>

<table class="table">
    <thead>
        <tr class="table-row">
            <th>Id</th>
            <th>Name</th>
            <th>Country</th>
            <th>TVA</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @if(company){
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.country }}</td>
                <td>{{ company.tva }}</td>
                <td>{{ company.type }}</td>
            </tr>
        } @else {
            <tr>
                <td class="notFound" colspan="5">No such company</td>
            </tr>
        }
    </tbody>
</table>


@if (company){
    <h2>Clients</h2>
    <table class="table">
        <thead>
            <tr class="table-row">
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody class="table-body">
            
            @for (contact of company.contacts; track contact){
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.timestamp | date:"dd/MM/yyy"}}</td>
                </tr>
            }@empty {
                <tr >
                    <td class="notFound" colspan="6">No contact found</td>
                </tr>
            }
        </tbody>
    </table>
}  

<div class="actions">
    <button>
        <a [routerLink]="['/companies']">Return</a>
    </button>
    @if (company){
        <button>
            <a [routerLink]="['/company/update', company.id]">Update</a>
        </button>
    }
</div>

