<form (ngSubmit)="handleSubmit()">
    <label for="name">Name : </label>
    <input name="name" type="text" [(ngModel)]="company.name">

    <label for="country">Country : </label>
    <input name="country" type="text" [(ngModel)]="company.country">
    
    <label for="tva">TVA : </label>
    <input name="tva" type="number" [(ngModel)]="company.tva">
    
    <label for="type">Type : </label>
    <select name="type" id="type" [(ngModel)]="company.type">
        <option value="client">client</option>
        <option value="provider">provider</option>
    </select>

    <button type="submit">Submit</button>
</form>
